@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



.participants-list {
  /* display: flex;
  flex-wrap: wrap;
  gap: 10px; */
  /* justify-content: center; */
  margin-top: 20px;
}
.participant {
  /* width: 150px; */
  text-align: center;
  font-size: 16px;
  background-color: #fcf6ec;
  border-radius: 5px;
  /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);   */
  padding: 20px 0px;
  border: 1px solid #9a9a9a;
  border-radius: 5px;
  margin: 5px;
  transition: transform 0.2s, background-color 0.2s;
}

.participant p.username {
  font-weight: 800;
  font-size: 18px;
  height: 40px;
}

.participant.active p.username {
  font-weight: 900;
  font-size: 22px;
}

.participant.active {
  background-color: #000;
  color: #ffd462;
  transform: scale(1.2);
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); */
}

.winner-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.winner-modal .modal-content {
  background: #000;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 90%;
  height: 90%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.winner-modal button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
}

.winner-modal button:hover {
  background-color: #2980b9;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
